body{
    font-size: 13px;
}
.mui-title {
    color: #FFFFFF;
}
input{
    font-size: 13px;
}
.btn{
    text-align: center;
}
button{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.mui-table-view{
    height: 550px;
}