body {
    font-size: 14px;
}

.mui-bar {
    margin-top: 10px;
}

.mui-title {
    color: #FFFFFF;
}

input {
    font-size: 14px;
    color: #000000;
}

.mui-btn {
    background-color: #007aff;
    color: #FFFFFF;
    border: none;
    outline: none;
    right: -315px;
}