body{
  font-size: 12px;
}
.mui-title {
  color: #FFFFFF;
}
#content{
  width: 100%;
  height: 100%;
}
input{
  font-size: 12px;
}
textarea{
  font-size: 12px;
}
h4{
  font-weight: 100;
  text-align: center;
}
#qingjia{
  margin-top: 10px;
}
.btn{
  text-align: center;
}
button{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}