<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.helo.demo.mapper.SignMapper" >
  <resultMap id="BaseResultMap" type="com.helo.demo.model.Sign" >
    <id column="sign_id" property="signId" jdbcType="INTEGER" />
    <result column="sign_location" property="signLocation" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="student_id" property="studentId" jdbcType="INTEGER" />
    <result column="course_id" property="courseId" jdbcType="INTEGER" />
    <result column="is_start_status" property="isStartStatus" jdbcType="INTEGER" />
    <result column="is_end_status" property="isEndStatus" jdbcType="INTEGER" />
    <result column="sign_out_location" property="signOutLocation" jdbcType="VARCHAR" />
    <result column="release_id" property="ReleaseId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insertSelective" parameterType="com.helo.demo.model.Sign" >
    insert into sign
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="signId != null" >
        sign_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="ReleaseId != null" >
        release_id,
      </if>
      <if test="signLocation != null" >
        sign_location,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>

      <if test="studentId != null" >
        student_id,
      </if>
      <if test="courseId != null" >
        course_id,
      </if>
      <if test="signOutLocation != null" >
        sign_out_location,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="signId != null" >
        #{signId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="ReleaseId != null" >
        #{ReleaseId,jdbcType=INTEGER},
      </if>
      <if test="signLocation != null" >
        #{signLocation,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="studentId != null" >
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="courseId != null" >
        #{courseId,jdbcType=INTEGER},
      </if>
      <if test="signOutLocation != null" >
        #{signOutLocation,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.helo.demo.model.Sign" >
    update sign
    <set >
      <if test="signLocation != null" >
        sign_location = #{signLocation,jdbcType=VARCHAR},
      </if>
      <if test="ReleaseId != null" >
        #{ReleaseId,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="studentId != null" >
        student_id = #{studentId,jdbcType=INTEGER},
      </if>
      <if test="courseId != null" >
        course_id = #{courseId,jdbcType=INTEGER},
      </if>
      <if test="signOutLocation != null" >
        #{signOutLocation,jdbcType=VARCHAR},
      </if>
    </set>
    where sign_id = #{signId,jdbcType=INTEGER}
  </update>
</mapper>