<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button id="btn">复制</button>
<div id="code">
    <img class='imgs' src="../../resources/images/face.png" style='width:50px;'><br/>
</div>
</body>
<script src="../../resources/js/jquery-2.1.4.js" type="application/javascript"></script>
<script src="../../resources/plugins/clipboard.js" type="application/javascript"></script>
<script>

    // 绑定点击事件
    $('#btn').off('click').click(function () {
        getSelect($('#code img')[0]);
        document.execCommand('copy');
        // copy之后清空选择区域
        window.getSelection().removeAllRanges();
    })


    //复制图片--函数
    function getSelect(targetNode) {
        if (window.getSelection) {
            //chrome等主流浏览器
            var selection = window.getSelection();
            var range = document.createRange();
            range.selectNode(targetNode);
            selection.removeAllRanges();
            selection.addRange(range);
        } else if (document.body.createTextRange) {
            //ie
            var range = document.body.createTextRange();
            range.moveToElementText(targetNode);
            range.select();
        }
        alert("复制成功")
    }

</script>
</html>