<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="copy">
    复制
</div>
<div class="copy-text">
    放你要复制的图片或者文字
</div>
</body>
<script src="../../resources/plugins/clipboard.js" type="application/javascript"></script>


<script>
    var clipboard=new ClipboardJS('#copy',{
        target:function(){
            return document.querySelector('.copy-text')
        }
    })
    clipboard.on('success', function(e) {
        //alert(e.text);
        console.log(e);
        clipboard.destroy();// 复制完毕删除，否则会有创建多个clipboard对象
        alert('复制成功')
    });
    clipboard.on('error', function(e) {
        console.log(e);
    });

</script>
</html>