<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<textarea id="test" rows="20" cols="50">

</textarea>

</body>

<script src="../../resources/js/jquery-2.1.4.js" type="application/javascript"></script>
<Script Language="JavaScript">
    $(function () {
        var test = document.getElementById("test")
        var oImg=document.createElement("IMG");
        oImg.src="http://www.2yup.com/asp/images/asp_logo1.gif";
        document.body.appendChild(oImg);
    })

</Script>
</html>